<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{if ne .Title .Site.Title}}{{ .Title }} | {{end}}{{ .Site.Title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  	<meta name="description" content="{{ .Description | default .Site.Params.description }}">

  	<link rel="icon" type="image/png" href="/favicon.png" />
	</head>
	<body{{- if isset .Params "bodyclass" }} class="{{- index .Params "bodyclass" }}"{{- end }}>
		<div class="container_12">
	