<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{if ne .Title .Site.Title}}{{ .Title }} | {{end}}{{ .Site.Title }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="description" content="{{ .Description | default .Site.Params.description }}">

		<link rel="icon" href="/favicon.ico" />
	</head>
	<body{{- if isset .Params "bodyclass" }} class="{{- index .Params "bodyclass" }}"{{- end }}>
		<header><a href="/">LASR Lab</a></header>
		<nav>
			<ul>
				<li><a href="/research">Research</a></li>
				<li><a href="/publications">Publications</a></li>
				<li><a href="/people">People</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
	