{{- partial "header.html" . }}

<h2>Books</h2>
<ul>
{{- $a := .Site.Data.authors }}
{{- range sort .Site.Data.books "year" "desc" }}
	<li>{{- partial "book.html" (dict "book" . "authors" $a) }}</li>
{{- end }}
</ul>

<h2>Dissertations</h2>
<ul>
{{- range sort .Site.Data.dissertations "date" "desc" }}
	<li>{{- partial "dissertation.html" (dict "dissertation" . "authors" $a) }}</li>
{{- end }}
</ul>

<h2>Master's Theses</h2>
<ul>
{{- range sort .Site.Data.theses "date" "desc" }}
	<li>{{- partial "thesis.html" (dict "thesis" . "authors" $a) }}</li>
{{- end }}
</ul>

<h2>Conference Papers</h2>
<ul>
{{- range sort .Site.Data.papers "date" "desc" }}
	<li>{{- partial "paper.html" (dict "paper" . "authors" $a) }}</li>
{{- end }}
</ul>

{{ partial "footer.html" . }}
